<% own_page = current_user == @user%>

This is <%= @user.username %>'s homepage!
<% @user.comments.order(:created_at).each do |comment| %>
  <p><%= render "comments/display", comment: comment %></p>
<% end %>

<%= render "comments/form", target: @user %>


<h1>Goals</h1>
<% @user.goals.order(:created_at).each do |goal| %>
  <% if own_page || !goal.privacy %>
    <p><%= render "goals/display", :goal => goal %>
      Karma: <%= goal.karma %>
      <% if !own_page &&
           Cheer.where(user_id: current_user.id, goal_id: goal.id).empty? %>
        <%= render "cheers/form", :goal => goal %>
      <% end %>

    <% goal.comments.order(:created_at).each do |comment| %>
      <p><%= render "comments/display", comment: comment %></p>
    <% end %>
    <%= render "comments/form", :target => goal%></p>

  <% end %>
  --------------------------------------------------
<% end %>

<% if own_page %>
  <h2>Create a Goal</h2>
  <%= render "goals/form" %>
<% end %>